/* jwangsadinata.com */

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grayScale {
  0% {
    -webkit-filter: grayscale(100%);
    -mos-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    -mos-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

/* Main CSS */
body {
  margin: 0px;
  background-color: white;
  font-family: Helvetica Neue, Helvetica;
  color: black;
}

body a {
  font-weight: bold;
  color: #141414;
  text-decoration: none;
}

body a:hover {
  color: #BEA042;
}

#title {
  -webkit-animation: fadeIn 1s ease-in 0.25s;
  -o-animation: fadeIn 1s ease-in 0.25s;
  animation: fadeIn 1s ease-in 0.25s;
}

#title:hover {
  -ms-transform: scale(1.03,1.03);
  -webkit-transform: scale(1.03,1.03);
  transform: scale(1.03,1.03);
}

body .container {
  margin: 10px 0 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

body .container p:hover,
body .container p:focus {
  -ms-transform: translateX(25px);
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

@media (min-width: 900px) {
  body .container {
    background: url("jasonweb.png") no-repeat top right;
    height: 1000px;
    width: 1500px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-animation: grayScale 4s ease-in-out 4s 3 alternate forwards;
    -o-animation: grayScale 4s ease-in-out 4s 3 alternate forwards;
    animation: grayScale 4s ease-in-out 4s 3 alternate forwards;
  }

  body .container p {
    font-size: 22px;
    font-weight: 300;
    margin: 28px 0 10px 10px;
    padding: 0px; }

  footer {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

/* Mobile - no background img */
@media handheld, screen and (max-width: 900px) {
  img {
    max-height: 100%;
    max-width: 70%;
  }

  #title {
    display: block;
    margin: 0 auto;
  }

  body .content {
    margin-top: 8%;
  }

  body .container p {
    font-size: 3vw;
    font-weight: 300;
    margin: 6% 0 3% 3%;
    padding: 0px; }

  footer {
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2%;
  }
}